* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/background\ 1.png);
    background-size: cover;

}

.header {
    margin: 47px auto 22px;
    width: 1028px
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;

}

.header-link-img {
    position: relative;
    width: 53px;
    height: 47px;
    text-decoration: none;
}

.header-link-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/logo 3.svg");
}

.header-link-img:hover::before {
    background-image: url("../images/logo 2.svg");
}

.header-logo-span {
    margin-left: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo:hover span {
    color: rgba(242, 101, 34, 1);

}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
}

.header-tel {
    align-self: flex-end;
}

.header-contacts a {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.header-contacts-email {
    margin-bottom: 19px;
}

.header-contacts-email:hover {
    color: rgba(242, 101, 34, 1);
    
}

.header-contacts-tel {
    align-self: flex-end;
}

.header-contacts-tel:hover {
    color: rgba(242, 101, 34, 1);
}

.main {
    margin: 0 auto;
    width: 1028px;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1028px;
    gap: 60px;

}

a {
    text-decoration: none;
}

a:hover p {
    color: rgba(242, 101, 34, 1);
}

a:hover .orange-menu {
    opacity: 1;
}


.card-1 {
    width: 300px;
    height: 220px;
    background-image: url(../images/shopping\ tours.png);
    position: relative;
}
 


.orange-menu {
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgba(242, 101, 34, 1);
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0;

}

.orange-menu span {
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}

.orange-menu-wrap-1 span {
    margin-left: 16px;
    margin-top: 8px;
}

.from {
    font-size: 10px;
    display: block;

}

.price {
    font-size: 20px;
    display: block;
}

.orange-menu-wrap-2 {
    margin-top: 29px;
    margin-right: 16px;
}

.details {
    font-size: 14px;
    display: block;
}

.details::after {
    content: ">";
    width: 5px;
    height: 10px;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;

}


.text-card {
    width: 144px;
    height: 21px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.card-2 {
    width: 300px;
    height: 220px;
    background-image: url(../images/Sightseeing\ Tours.png);
    position: relative;
}
 

.card-3 {
    width: 300px;
    height: 220px;
    background-image: url(../images/Food\ Tours.png);
    position: relative;
}
 
.card-4 {
    width: 300px;
    height: 220px;
    background-image: url(../images/Bars\ &\ Nightlife.png);
    position: relative;
}
 
.card-5 {
    width: 300px;
    height: 220px;
    background-image: url(../images/Art\ &\ Architecture.png);
    position: relative;
}
 
.card-6 {
    width: 300px;
    height: 220px;
    background-image: url(../images/Walking\ Tours.png);
    position: relative;
}
 

.footer {
    margin: 47px auto 15px;
    width: 1028px
}

.footer-copyright {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}